src/golite
*.class
parser.tab.*
lex.yy.c
MyLoginHistory.txt
*.o
src/lex.yy.c
src/*.output
.vscode
*.bak
*.h.gch
.idea
solutions/
test-solution.sh
programs/3-semantics+codegen/valid/*.class
programs/3-semantics+codegen/valid/**/*.java
programs/3-semantics+codegen/valid/**/output/
programs/3-benchmarks+codegen/valid/*.class
programs/3-benchmarks+codegen/valid/*.java
programs/3-benchmarks+codegen/valid/**/output/
programs/3-benchmarks+codegen/valid/**/*.java
pending-programs/*.java
pending-programs/3-semantics+codegen/*.java
*.class
